<!DOCTYPE html>
<html>

<head>
    <title>File Emotions | SentimentAnalyserX</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='filesentiment.css') }}">
</head>

<body>
    <div class="container">
        <h1>📂 Explore Emotions through Files 📂</h1>
        <div id="inputBox">
            <input type="file" id="fileInput">
        </div>
        <div id="inputBox1">
            <input type="text" id="columnName" placeholder="Enter column name for CSV/Excel">
        </div>
        <div id="inputBox2">
            <button onclick="analyzeSentiment()">Analyze Emotion</button>
        </div>
        <div id="loader" class="loader">
            <div class="loader-circle">
                <div class="loader-percentage" id="loaderPercentage"></div>
            </div>
            <strong>We are analyzing your file....</strong>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="modalResult" class="modal-result">
                <p>Text: <span id="modalText"></span></p>
                <p>Score: <span id="modalScore"></span></p>
                <p>Sentiment: <span id="modalSentiment"></span></p>
                <p>Message: <span id="modalMessage"></span></p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='filesentiment.js') }}"></script>
</body>

</html>
