<!DOCTYPE html>
<html>

<head>
    <title>Text|SentimentAnalyserX</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='textsentiment.css') }}">
</head>

<body>
    <div class="container">
        <h1>📝 Unleash the Emotion Power of Text 📝</h1>
        <div id="inputBox">
            <input type="text" id="inputText" placeholder="Enter text">
            <button onclick="analyzeSentiment()">Analyze Emotion</button>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="modalResult" class="modal-result">
                <p>Text: <span id="modalText"></span></p>
                <p>Score: <span id="modalScore"></span></p>
                <p>Sentiment: <span id="modalSentiment"></span></p>
                <p>Message: <span id="modalMessage"></span></p>
            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename='textsentiment.js') }}"></script>

</body>

</html>
