* {
  margin: 0;
  padding: 0;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  margin-top: 20px;
  margin-right:20px ;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #f0f0f0;
}

h1{
  margin-top: 30px;
}

h2{
  margin-top: 30px;
  margin-left: 150px;
  text-align: justify;
}

body {
  background-image: url(https://images.saymedia-content.com/.image/t_share/MTk0NTIwMDQ4MzU2ODI4Nzgy/how-to-create-cool-website-backgrounds-the-ultimate-guide.gif);
  background-color: #F4F7FC;
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  backdrop-filter: blur(3px);
  }

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.wrapper {
  display: flex;
}

nav ul {
  list-style: none;
  background: #fff;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding-top: 8vh;
}

nav ul li {
  text-align: center;
  padding: 10px;
}

.active {
  border-right: 2px solid #007bff;
}

/* Main Content */
#content {
  margin-left: 50px;
  width: 100vw;
}

#content .header-icons {
  background-color: #fff;
  width: 100%;
  height: 8vh;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

#content .header-icons ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

#content .header-icons ul li {
  padding: 10px;
}

#content .main-content {
  margin: 10px;
  padding: 10px;
}

#content .main-content .main-header {
  display: flex;
  justify-content: space-between;
}

#content .main-content .main-header select {
  outline: none;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding-left: 14px;
}
#content .main-content .card-group .card {
  background-image: url(https://cdn.dribbble.com/users/113062/screenshots/2812589/bots.gif);
  background-size: cover;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.06), 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
}
#content .main-content .card-group .card:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2), 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

#content .main-content .card-group .card h2 {
  font-weight: 800;
}

#content .main-content .card-group .card p {
  font-weight: 400;
  color: #999999;
  text-transform: uppercase;
}

#content .main-info .recent-trends {
  margin: 50px;
  padding: 10px;
}

#graph-container {
  height: 300px;
  margin: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.06), 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.analyse-button {
  color: white; 
  border: none; 
  padding: 10px 20px;
  font-size: 18px; 
  border-radius: 5px; 
  cursor: pointer; 
  outline: none; 
  transition: background-color 0.3s; 
}

.text-button {
  background-color: #41bac8;
}

.file-button {
  background-color: #D350DF;
}

.analyse-button:hover {
  filter: brightness(85%);
}

#table-section {
  margin-top: 30px;
}


.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.06), 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.table:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2), 0 8px 32px 0 rgba(0, 0, 0, 0.3);

}
.table th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #191818;

}
.table td {
  padding: 10px;
  text-align: center;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th,
.table td {
  border: 1px solid #191818;
}

.table tbody tr:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}

.positive-bg {
  background-color: green;
  color: white;
}

.negative-bg {
  background-color: red;
  color: white;
}

.neutral-bg {
  background-color: yellow;
  color: black;
}

.sentiment-box {
    border-radius: 10px;
    padding: 5px 10px; 
    font-weight: bold;
    display: inline-block;
  }